---
url: /feed.xml
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
	<title>{{ site.feedTitle }}</title>
	<!--subtitle>{{ site.desc }}</subtitle-->
	<link href="{{ url | url(true) }}" rel="self"/>
	<link href="{{ "/" | url(true) }}"/>
	{% set lastPage = search.pages() | last %}
	<updated>{{ lastPage.date | date("ATOM") }}</updated>
	<id>{{ "/" | url(true) }}</id>
	<icon>{{ site.pfp | url(true) }}</icon>
	<author>
		<name>{{ site.author }}</name>
		<uri>{{ "/" | url(true) }}</uri>
	</author>
	{%- for post in search.pages("blog=true", "date=desc") %}
	<entry>
		<title>{{ post.title }}</title>
		<link href="{{ post.url | url(true) }}"/>
		<updated>{{ post.date | date("ATOM") }}</updated>
		<id>{{ post.url | url(true) }}</id>
		<summary>{{ post.desc }}</summary>
		<content type="html">{{ post.content | njk({"inFeed": true}) | md | htmlUrl(true) }}</content>
	</entry>
	{%- endfor %}
</feed>
