{% macro preview(post) -%}
	<li class="showcase-card h-entry">
		<a href="{{ post.url }}" class="showcase-spread u-url u-uid">
			<h3 class="p-name">{{ post.title }}</h3>
		</a>
		<p class="preview-meta">
			<time datetime="{{ post.date | date }}" class="dt-published">{{ post.date | date('HUMAN_DATE') }}</time>
			✦ {{ post.readingInfo.minutes }} min read
		</p>
		<p class="p-summary">{{ post.desc }} ✦&nbsp;<a href="{{ post.url }}">read more&nbsp;→</a></p>
	</li>
{%- endmacro %}

{% macro subscribe() -%}
<details>
	<summary class="open-more">
		<svg width="24" role="presentation" aria-hidden="true" viewBox="0 0 448 512"><path d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zM96 136c0-13.3 10.7-24 24-24c137 0 248 111 248 248c0 13.3-10.7 24-24 24s-24-10.7-24-24c0-110.5-89.5-200-200-200c-13.3 0-24-10.7-24-24zm0 96c0-13.3 10.7-24 24-24c83.9 0 152 68.1 152 152c0 13.3-10.7 24-24 24s-24-10.7-24-24c0-57.4-46.6-104-104-104c-13.3 0-24-10.7-24-24zm0 120a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z"/></svg>
		Subscribe to new posts
	</summary>
	<p>
		Just point your feed reader at the whole website and it should discover everything!
		But if that didn't happen: here are the links for
		<a href="/feed.xml">Atom</a>, <a href="/feed.json">JSON Feed</a>, and <a href="/blog/">h-feed</a> (wait, that's just the blog page itself).
	</p>
	<p>
		Also, <a href="https://www.patreon.com/valpackett">Patreon</a> members get notifications for blog posts as well the work updates I publish there ;)
	</p>
</details>
{%- endmacro %}
