---
layout: layouts/base.njk
templateEngine: njk
title: Blog
mainClass: h-feed
blog: false
renderOrder: 0
---

{% import "blog.njk" as blog %}

<h1>Blog</h1>

<ul class="showcase-grid">
	{%- for post in search.pages("blog=true", "date=desc") %}
	{{ blog.preview(post) }}
	{%- endfor %}
</ul>

{{ blog.subscribe() }}
