<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="theme-color" content="{{ site.color }}">
		<meta http-equiv="Content-Security-Policy" content="default-src 'self'; style-src 'self' 'unsafe-inline'; img-src 'self' data: img.shields.io; script-src 'none'; object-src 'none'">
		<title>{{ title }}{% if title %} - {% endif %}{{ site.title }}</title>
		<link rel="stylesheet" href="{% asset "s.css" %}">
		<link rel="shortcut icon" href="{{ site.pfp }}">
		<link rel="canonical" href="{{ url }}">
		<link rel="alternate feed" href="/feed.xml" type="application/atom+xml" title="{{ site.feedTitle }}">
		<link rel="alternate feed" href="/feed.json" type="application/feed+json" title="{{ site.feedTitle }}">
		<meta name="fediverse:creator" content="@valpackett@treehouse.systems">
	</head>
	<body>
		<header id="s-hdr">
			<div>
				<a href="/" rel="home" id="s-home" {%- if url == "/" %} aria-current="page"{% endif %}>
					<div class="on-wide">{{ site.title | lower }}</div>
					<div class="logo-wrap">
						<img alt="" role="presentation" src="{{ site.pfp }}" width="48" height="48">
					</div>
					<div class="on-narrow">val's home</div>
				</a>
			</div>
			<nav>
				<div class="on-narrow">✦ </div>
				<a href="/blog/" {%- if url == "/blog/" %} aria-current="page"{% endif %}>blog</a>
				✦ 
				<a href="https://codeberg.org/valpackett" rel="me">code</a>
				✦ 
				<a href="https://www.flickr.com/photos/valpackett/" rel="me">photos</a>
			</nav>
		</header>
		<svg role="presentation" viewBox="0 90 2400 180">
			<g fill="hsl(258.3, 100%, 71.9%)">
				<path d="M.46 239c31.5-3.33 90.27-20.16 151.17-16 60.91 4.17 82.36 34.96 141.18 36 58.82 1.05 82.35-31.83 141.18-31 58.82.84 82.35 35.63 141.17 35 58.83-.62 82.36-35.08 141.18-38 58.82-2.91 82.35 24.21 141.18 24 58.82-.2 82.35-25.41 141.17-25 58.83.42 82.36 31.38 141.18 27 58.82-4.37 82.35-45.5 141.18-48 58.82-2.5 82.35 36.42 141.17 36 58.83-.41 82.35-40.29 141.18-38 58.82 2.3 82.35 47.13 141.17 49 58.83 1.88 82.36-36.04 141.18-40 58.82-3.95 82.35 23.5 141.18 21 58.82-2.5 82.35-32.79 141.17-33 58.83-.2 82.36 33.46 141.18 32 58.82-1.45 59.68 40.38 141.18-39 81.5-79.37 854.16-166.58 250-342-604.17-175.41-2493.75-395.83-3150-500" opacity=".05"/>
				<path d="M.46 212c31.5-3.33 90.27-20.16 151.17-16 60.91 4.17 82.36 34.96 141.18 36 58.82 1.05 82.35-31.83 141.18-31 58.82.84 82.35 35.63 141.17 35 58.83-.62 82.36-35.08 141.18-38 58.82-2.91 82.35 24.21 141.18 24 58.82-.2 82.35-25.41 141.17-25 58.83.42 82.36 31.38 141.18 27 58.82-4.37 82.35-45.5 141.18-48 58.82-2.5 82.35 36.42 141.17 36 58.83-.41 82.35-40.29 141.18-38 58.82 2.3 82.35 47.13 141.17 49 58.83 1.88 82.36-36.04 141.18-40 58.82-3.95 82.35 23.5 141.18 21 58.82-2.5 82.35-32.79 141.17-33 58.83-.2 82.36 33.46 141.18 32 58.82-1.45 59.68 40.38 141.18-39 81.5-79.37 854.16-166.58 250-342-604.17-175.41-2493.75-395.83-3150-500" opacity=".29"/>
				<path d="M.46 185c31.5-3.33 90.27-20.16 151.17-16 60.91 4.17 82.36 34.96 141.18 36 58.82 1.05 82.35-31.83 141.18-31 58.82.84 82.35 35.63 141.17 35 58.83-.62 82.36-35.08 141.18-38 58.82-2.91 82.35 24.21 141.18 24 58.82-.2 82.35-25.41 141.17-25 58.83.42 82.36 31.38 141.18 27 58.82-4.37 82.35-45.5 141.18-48 58.82-2.5 82.35 36.42 141.17 36 58.83-.41 82.35-40.29 141.18-38 58.82 2.3 82.35 47.13 141.17 49 58.83 1.88 82.36-36.04 141.18-40 58.82-3.95 82.35 23.5 141.18 21 58.82-2.5 82.35-32.79 141.17-33 58.83-.2 82.36 33.46 141.18 32 58.82-1.45 59.68 40.38 141.18-39 81.5-79.37 854.16-166.58 250-342-604.17-175.41-2493.75-395.83-3150-500" opacity=".53"/>
				<path d="M.46 158c31.5-3.33 90.27-20.16 151.17-16 60.91 4.17 82.36 34.96 141.18 36 58.82 1.05 82.35-31.83 141.18-31 58.82.84 82.35 35.63 141.17 35 58.83-.62 82.36-35.08 141.18-38 58.82-2.91 82.35 24.21 141.18 24 58.82-.2 82.35-25.41 141.17-25 58.83.42 82.36 31.38 141.18 27 58.82-4.37 82.35-45.5 141.18-48 58.82-2.5 82.35 36.42 141.17 36 58.83-.41 82.35-40.29 141.18-38 58.82 2.3 82.35 47.13 141.17 49 58.83 1.88 82.36-36.04 141.18-40 58.82-3.95 82.35 23.5 141.18 21 58.82-2.5 82.35-32.79 141.17-33 58.83-.2 82.36 33.46 141.18 32 58.82-1.45 59.68 40.38 141.18-39 81.5-79.37 854.16-166.58 250-342-604.17-175.41-2493.75-395.83-3150-500" opacity=".76"/>
				<path d="M.46 131c31.5-3.33 90.27-20.16 151.17-16 60.91 4.17 82.36 34.96 141.18 36 58.82 1.05 82.35-31.83 141.18-31 58.82.84 82.35 35.63 141.17 35 58.83-.62 82.36-35.08 141.18-38 58.82-2.91 82.35 24.21 141.18 24 58.82-.2 82.35-25.41 141.17-25 58.83.42 82.36 31.38 141.18 27 58.82-4.37 82.35-45.5 141.18-48 58.82-2.5 82.35 36.42 141.17 36 58.83-.41 82.35-40.29 141.18-38 58.82 2.3 82.35 47.13 141.17 49 58.83 1.88 82.36-36.04 141.18-40 58.82-3.95 82.35 23.5 141.18 21 58.82-2.5 82.35-32.79 141.17-33 58.83-.2 82.36 33.46 141.18 32 58.82-1.45 59.68 40.38 141.18-39 81.5-79.37 854.16-166.58 250-342-604.17-175.41-2493.75-395.83-3150-500"/>
			</g>
		</svg>
		<main class="{{ mainClass }}">
			{{ content | safe }}
			<footer>
				<a href="https://www.patreon.com/valpackett" rel="me" class="cta-link cta-link-wide">
					<svg width="24" role="presentation" aria-hidden="true" viewBox="0 0 24 24"><path d="M0 .48v23.04h4.22V.48zm15.385 0c-4.764 0-8.641 3.88-8.641 8.65 0 4.755 3.877 8.623 8.641 8.623 4.75 0 8.615-3.868 8.615-8.623C24 4.36 20.136.48 15.385.48z"/></svg>
					Support me on Patreon!
				</a>
			</footer>
		</main>
		<footer id="s-foot">
			<p>
				© 2022-2025 val packett
				✦ <a href="#">↑↑↑</a>
				✦ <a href="/" {%- if url == "/" %} aria-current="page"{% endif %}>home</a>
				✦ <a href="/blog/" {%- if url == "/blog/" %} aria-current="page"{% endif %}>blog</a>
				✦ <a href="/colophon/" {%- if url == "/colophon/" %} aria-current="page"{% endif %}>colophon</a>
			</p>
			<p>
				<a href="https://www.mozilla.org/en-US/firefox/new/" class="ᵇᵈᵍ ᶠˣ"><span>Get</span><span>Firefox</span></a>
				<a href="https://nonbinary.wiki/wiki/Main_Page" class="ᵇᵈᵍ ⁿᵇ" aria-label="non-binary"></a>
				<a href="https://notbyai.fyi/" class="ᵇᵈᵍ ᵃᶦ"><span role="presentation">:)</span>Not by AI</a>
			</p>
		</footer>
	</body>
</html>
