---
layout: layouts/base.njk
---

{% import "blog.njk" as blog %}

<article class="h-entry">
	<h1 class="post-title p-name">{{ title }}</h1>
	{%- if desc %}
	<p class="post-subhead p-summary">{{ desc }}</p>
	{%- endif %}
	<p class="post-meta">
		<time datetime="{{ date | date }}" class="dt-published">{{ date | date('HUMAN_DATE') }}</time>
		✦ {{ readingInfo.minutes }} min read
	</p>

	<div class="e-content post-content">
		{{ content | safe }}
	</div>
</article>

<a href="/blog/" class="open-more">
	<svg width="24" role="presentation" aria-hidden="true" viewBox="0 0 512 512"><path d="M40 48C26.7 48 16 58.7 16 72v48c0 13.3 10.7 24 24 24H88c13.3 0 24-10.7 24-24V72c0-13.3-10.7-24-24-24H40zM192 64c-17.7 0-32 14.3-32 32s14.3 32 32 32H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H192zm0 160c-17.7 0-32 14.3-32 32s14.3 32 32 32H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H192zm0 160c-17.7 0-32 14.3-32 32s14.3 32 32 32H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H192zM16 232v48c0 13.3 10.7 24 24 24H88c13.3 0 24-10.7 24-24V232c0-13.3-10.7-24-24-24H40c-13.3 0-24 10.7-24 24zM40 368c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24H88c13.3 0 24-10.7 24-24V392c0-13.3-10.7-24-24-24H40z"/></svg>
	Read more posts
</a>

{{ blog.subscribe() }}
